body{
    background-color: #353935;
    color: white;
    font-family: "Lexend Deca","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 70%;
    margin: 15% auto;
}
h1{
    font-size: 50px;
}
input{
    height: 70px;
    width: 90%;
}
button{
    margin-top: 25px;
    height: 50px;
    width: 22%;
    background-color: orange;
    border: 2px solid black;
}
.movie{
    display: inline-block;
    flex-direction: row;
    border: 2px solid black;
    margin-top: 10px;
    padding-top: 10px;
}
img,p{
    margin-left: 15%;
    max-width: 70%;
    height: auto;
    justify-content: center;
}
p{
    text-align: center;
    font-size: 25px;
}
button:hover{
    transition-duration: 0.5s;
    background-color: mediumseagreen;
}
body,.movie {
    opacity: 0;
    animation: fadeInAndSlide 1s ease-in-out forwards;
}

@keyframes fadeInAndSlide {
0% {
    opacity: 0;
    transform: translateX(100%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
  
  